<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:5555/hello-world</property>
		<property name="connection.username">root</property>
		<property name="connection.password">DrumsAreFun211</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Echo all executed SQL to stdout -->
		<!-- <property name="show_sql">true</property>  log4j taking care of this now... -->

		<!-- Use XML-based mapping metadata -->
		<!-- <mapping resource="domain/Message.hbm.xml"/> -->
		
		<!-- Create / update DB tables automatically using mapping metadata -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Use Annotation-based mapping metadata -->
		<mapping class="entity.Person" />
		<mapping class="entity.Guide" />
		<mapping class="entity.Student" />
		<mapping class="entity.Customer" />
		<mapping class="entity.Passport" />
		<mapping class="entity.Movie" />
		<mapping class="entity.Actor" />
		<mapping class="entity.Employee" />
		<mapping class="entity.Friend" />
	</session-factory>

</hibernate-configuration>